<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gsc.ingenieria.actas" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GSC Actas</name>
    <description>
        Módulo de Gestión Predial y Entorno - Vía Granada - Guatapé.
    </description>
    <author email="tu-correo@gsc.com.co" href="http://gsc.com.co">
        GSC Ingeniería
    </author>
    
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="ios">
        <preference name="Orientation" value="portrait" />
        <preference name="WKWebViewOnly" value="true" />
        <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
        <icon src="logo_gsc.png" />
        
        <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
            <string>GSC Actas requiere acceso a la fototeca para adjuntar imágenes a los registros y evidencias.</string>
        </edit-config>
    </platform>
</widget>
